language: go

go:
  - 1.18.x

before_script:
  - sudo redis-server /etc/redis/redis.conf --port 6379 --requirepass 'secret'

services:
  - mysql

env:
  - GO111MODULE=on redisPwd=secret   

before_install:
  - go get -v -t ./...

script:
  - go test  -v -race -coverprofile='coverage.txt' -covermode=atomic github.com\snowlyg\iris-admin\g github.com\snowlyg\iris-admin\migration github.com\snowlyg\iris-admin\seed github.com\snowlyg\iris-admin\server\...

after_success:
  - bash <(curl -s https://codecov.io/bash)