DisablePathCorrection = false
EnablePathEscape = false
FireMethodNotAllowed = true
DisableBodyConsumptionOnUnmarshal = false
TimeFormat = "2006-01-02T15:04:05Z07:00"
Charset = "UTF-8"

[Other]
    [Other.App]
        Name = "IrisAdminApi"
        URl = "http://localhost"
        Port = ":8081"
        LoggerLevel = "disable" # "disable" "fatal" "error" "warn""info" "debug"
        DirverType = "Mysql" # "Sqlite" "Mysql"
    [Other.Mysql]
        DirverName = "mysql"
        Connect ="root:passwrod@(127.0.0.1:3306)/"
        Name ="iris"
        TName ="iris_test"
    [Other.Mongodb]
        Connect = "mongodb://root:123456@127.0.0.1:27017/admin"

    [Other.Sqlite]
        DirverName = "sqlite3"
        Connect = "./tmp/gorm.db"
        TConnect = "./tmp/tgorm.db"

#    [Other.Redis]
#      Addr = "127.0.0.1:6379"
#      Password = ""
#      DB = "0"

    [Other.TestData]
          UserName = "username"
          Name = "name"
          Pwd = "password"
          DataBaseDriver = "sqlite3"
          DataBaseConnect = "tmp/gorm.db"