DisablePathCorrection = false
EnablePathEscape = false
FireMethodNotAllowed = true
DisableBodyConsumptionOnUnmarshal = false
TimeFormat = "Mon, 01 Jan 2006 15:04:05 GMT"
Charset = "UTF-8"

[App]
    Name = "IrisAdminApi"
    URl = "http://localhost"

[Database]
    Dirver = "mysql"

[Mysql]
    Name =""
    UserName =""
    Password =""


[Mongodb]
    Connect = "mongodb://root:123456@127.0.0.1:27017/admin"

[Sqlite]
    Connect = "/tmp/gorm.db"

[Redis]
  Addr = "127.0.0.1:6379"
  Password = ""
  DB = 0

[TestData]
      UserName = "username"
      Name = "name"
      Pwd = "password"
      DataBaseDriver = "sqlite3"
      DataBaseConnect = "tmp/gorm.db"