DisablePathCorrection = false
EnablePathEscape = false
FireMethodNotAllowed = true
DisableBodyConsumptionOnUnmarshal = false
TimeFormat = "2006-01-02T15:04:05Z07:00"
Charset = "UTF-8"

[Other]
    [Other.App]
        Name = "IrisAdminApi" #项目名称
        Url = "localhost:8080"
        LoggerLevel = "debug" # 日志类型 "disable" "fatal" "error" "warn""info" "debug"
        DriverType = "Sqlite" # 数据库类型 "Sqlite" "Mysql"
        CreateSysData = true # 是否创建系统数据 true / false
    [Other.Mysql]
        Connect ="root:password@(127.0.0.1:3306)/"
        Name ="iris"
        TName ="tiris" # for test
    [Other.Mongodb]
        Connect = "mongodb://root:123456@127.0.0.1:27017/admin"
    [Other.Sqlite]
        Connect = "gorm.db"
        TConnect = "tgorm.db" # for test
    [Other.Redis]
        Addr = "127.0.0.1:6379"
        Password = ""
        DB = "0"
    [Other.TestData]
        UserName = "username"
        Name = "超级管理员"
        Pwd = "password"